name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Compile
        run: deno task compile

      - name: Format
        run: deno task format

      - name: Tests
        run: deno task test
